.heading{
    font-size: 23px;
    margin: 0px;
    width: 100%;
}
.note{
    font-size: 15px;
    color: black;
}
body{
    background-size: cover;
}
.speed{
    float: left;
}
.speedimg{
    width: 200px;
    border-radius: 100px;
}
#speed{
    font-size: 23px;
    margin: 15px;
}
.volume{
    float: right;
}
.volumeimg{
    width: 200px;
    border-radius: 100px;
}
#volume{
    font-size: 23px;
    margin: 15px;
}
.play_button
{
    width:130px;
    font-size: 25px;
}
canvas
{
    border: 5px solid blue;
    border-radius:20px;
}